.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered {
	text-align: center;
}

.store {
    display: inline-block;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

img.app_store {
	max-height: 30%;
	max-width: 30%;
}

img.google_play {
	max-height: 38%;
	max-width: 38%;
}

img {
	max-width: 100%;
}
